<ngx-spinner
  name="login"
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="timer"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<ngx-spinner
  name="payment_gateway"
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-fussion"
  [fullScreen]="true"
  ><p style="color: white">Processing Your Payment...</p></ngx-spinner
>
<ngx-spinner
  name="content_load"
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Fetching...</p></ngx-spinner
>
<ngx-spinner
  name="confirming"
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
  [fullScreen]="true"
  ><p style="color: white">Please Wait...</p></ngx-spinner
>

<ngx-spinner
  name="inviting_client"
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  [fullScreen]="true"
  ><p style="color: white">Inviting Client...</p></ngx-spinner
>
